@include block(toolbar) {
  grid-area: toolbar;
  display: flex;
  align-items: center;

  @include element(heading) {
    font-size: 45px;
    font-weight: 300;
  }

  @include element(actions) {
    flex-grow: 1;
    justify-content: flex-end;
  }
}
