@include block(player) {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "record-list toolbar gap"
                       "record-list screen gap"
                       "controller controller gap";
  grid-template-columns: 280px 1fr 3%;
  grid-template-rows: 140px 1fr 160px;

  @include element(gap) {
    grid-area: gap;
  }
}
